# Basics
__pycache__/
*.py[cod]
*$py.class
*.so
*.history
.DS_Store

# Environments
.env
.venv
env/
venv/
ENV/

# IDEs
.vscode/
.idea/
.history/

# Notebooks
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data & Models
*.zip
*.tar.gz

# MLflow
.trash/

# Logs & Temporary
*.log
tmp/
list_dir_output.txt
*.docx
data/
BS Interview CV Test_ Weapon Object Detection